<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="similarityThreshold" value="0.1" />
    <add key="commonItemsThreshold" value="1" />
    <add key="minimumRatedItems" value="2" />
    <add key="yRate" value="0.05"/>
    <add key="lambdaRate" value="0.05"/>
    <add key="CentroidsSimilarityThreshold" value="0.99"/>
    <add key="maxNumIterationStereotype" value="20"/>
    <add key="minimumRatingThreshold" value="50"/>
  </appSettings>
</configuration>